<img class="logo" src="/vhs_tube_logo.png" />


<nav class="main">
  <a href="<%= videos_path %>"><img class="play_nav" src="/play_button_front.png" /></a>
  <a href="<%= new_video_path %>"><img class="rec_nav" src="/record_button.png" /></a>
</nav>
