
<h2>Add a clip to your library</h2>
<div class="new_video" >
  <img src="/vhs_tape.png" />
  <form action='<%= videos_path %>' method='post'>
    <table>
      <tr>
        <td>Title</td>
        <td><input type='text' name='video[title]' autofocus></td>
      </tr>
      <tr>
        <td>Description</td>
        <td><textarea rows=3  cols=20  name='video[description]' ></textarea></td>
      </tr>
      <tr>
        <td>You tube id</td>
        <td><input type='text' name='video[url]'></td>
      </tr>
      <tr>
        <td>Genre</td>
        <td><input type='text' name='video[genre]'></td>
      </tr>
      <tr>
        <td></td>
        <td><button>S U B M I T</button></td>
      </tr>
    </table>
  </form>
</div>


