

<section class="play">
  <nav>
    <a href="<%= videos_path %>"><p class="menu">List CLips</p><img class="play_play" src="/play_button_front.png" /></a>
    <a href="/"><img class="play_logo" src="/vhs_tube_logo.png" /></a>
    <a href="<%= new_video_path %>"><img class="play_play2" src="/record_button.png" /><p class="menu2">Add a clip</p></a>
  </nav>
    <div class="tv_play">
      <img src="/old_tv_cropped.png" />
       <iframe width="560" height="315"  src="//www.youtube.com/embed/<%= @url %>" frameborder="0" allowfullscreen></iframe>
      <ifram 
    </div>

</section>










